@-webkit-keyframes border {
  0% {
    border-color: #FF6400;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #FF6400;
  }
}@keyframes border {
  0% {
    border-color: #FF6400;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #FF6400;
  }
}
@-webkit-keyframes animation__text {
  0% {
    width: 0;
  }
}
@keyframes animation__text {
  0% {
    width: 0;
  }
}