@keyframes border{
   0%{
      border-color: #FF6400;
   }
   50%{
      border-color: transparent;
   }
   100%{
      border-color: #FF6400;
   }
}
@keyframes animation__text{
   0%{
width: 0;
   }
}
@keyframes burger {
   0%{
   width: 50px;
   height: 50px;
   }
   50%{
      width: 55px;
      height: 55px;
   }
   100%{
      width: 50px;
   height: 50px;
   }
}
// @keyframes burgerDeg {
//    0%{
//    width: 50px;
//    height: 50px;
//    }
//    50%{
//       width: 55px;
//       height: 55px;
//    }
//    100%{
//       width: 50px;
//    height: 50px;
//    }
// }