@media (max-width:1288px) {
   .intro__text {
      max-width: 459px;
      padding: 15px 0;
      font-size: 25px;
   }
   .intro__text {
      padding: 20px 0;
   }
   .about_us__text {
      margin: 15px 0 15px 0;
   }
}

@media (max-width:980px) {
  .header__btn-desc{
   display: none;
  }
  .header__btn {
      margin-top: 20px;
  }
   nav{
   display: none;
  }
  .close__block-burger{
   display: none;
  }
  .close__block-burger.open{
   display: block;
   position: fixed;
   right: 0;
   top: 0;
   z-index: 10;
   width: 50%;
   height: 100%;
  }
   .burger-btn {
      display: block;
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: absolute;
      display: block;
      right: 30px;
      top: 16px;
      z-index: 11;
   }
   .burger__inner {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: #161512 linear-gradient(to bottom, hsl(37deg, 12%, 16%), hsl(37deg, 10%, 8%) 116px) no-repeat;;
      z-index: 10;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      transition: 0.3s;
    }
    
    .burger__inner.open {
      left: 0;
     position: fixed;
   }
   .burger-btn:hover{
      transform: rotate(360deg);
      transition: 3s;
   }
   
   .burger-btn-line {
      position: absolute;
      top: 0;
      width: 100%;
      height: 5px;
      background-color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#FFF), to(#3F046F));
    background-image: linear-gradient(90deg, #FFF, #3F046F);
      transition: 1s;
   }
   
   .burger-btn-line-center {
      position: absolute;
      top: 13px;
      width: 100%;
      background-color: #fff;
      background-image: -webkit-gradient(linear, left top, right top, from(#FFF), to(#3F046F));
      background-image: linear-gradient(90deg, #FFF, #3F046F);
      height: 5px;
      transition: 0.6s;
   }
   
   .burger-btn-line-last {
      width: 100%;
      position: absolute;
      bottom: 0px;
      background-color: #fff;
      background-image: -webkit-gradient(linear, left top, right top, from(#FFF), to(#3F046F));
      background-image: linear-gradient(90deg, #FFF, #3F046F);
      height: 5px;
      transition: 0.3s;
   }
   
   .burger-btn-line.open {
      transform: rotate(45deg);
      background-color: #fff;
      top: 10px;
   }
   .burger-btn-line-center.open{
      display: none;
   }
   
   
   
   .burger-btn-line-last.open {
      transform: rotate(-45deg);
      background-color: #fff;
      bottom: 15px;
   }
   .logo{
      margin-top: 10px;
   }

   .intro__inner {
      flex-direction: column-reverse;
      justify-content: center; 
   }
   .intro__item:last-child {
      display: flex;
      justify-content: flex-end;
   }
   .intro__item-text{
      width: 100%;
      }
      .intro__item-slider{
      width: 100%;
      }
      

   .intro__title {
      font-size: 95px;
      line-height: 107px;
   }

   .intro__text {
      max-width: none;
      text-align: center;
   }

   .intro__item:first-child {
      padding: 0 15px;
   }
   .benefits__title{
      font-size: 40px;
   }
   .benefits__img{
      margin: 30px 0;
   }
   .benefits__inner {
      flex-direction: column;
      align-items: center;
   }
   .benefits__item-grid {
      width: 100%;
  }
 

   .about_us__inner {
      flex-direction: column;
      align-items: flex-start;
   }

   .about_us__row {
      justify-content: flex-end;
   }

   .about_us__img--phone {
      margin-left: 0;
   }

   .about_us__inner-last {
      flex-direction: column-reverse;
      margin-top: 30px;

      .about_us__item-last {
         display: flex;
         justify-content: center;
         width: 100%;
      }

      .about_us__img3 {
         object-position: center top;
      }

      .about_us__img--phone2 {
         right: 34px;
         left: auto;
      }
   }

   .about_us__img {
      width: 100%;
      max-width: 500px;
      height: 400px;
      object-fit: cover;
   }
   .footer__text {
      font-size: 25px;
    line-height: normal;
   }

}

@media (max-width:780px) {
   .popup.active{
    max-width: 550px;
     
   }
   
   .intro__title {
      font-size: 75px;
      line-height: 107px;
   }

   .intro__inner {
      .intro__img {
         left: -15px;

      }
   }

   .attraction {
      margin-top: 80px;
   }

   .attraction__inner-background {
      .attraction__img-phone {

         max-width: 197px;
         height: 357px;
         right: -16px;
      }
      .attraction__title {

         font-size: 76px;
         line-height: 70px;

      }
   }
   .attraction__item-text {
      font-size: 30px;
      line-height: 36px;
      margin-top: 60px;
   }
 .about_us__inner-last .about_us__text {
      width: 100%;
   }
   .about_us__title {
      font-size: 36px;
      line-height: 41px;
      margin: 0 0 15px 0;
   }
   .about_us__text {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 51px;
   }

   .about_us__row {
      .about_us__img--row {
         margin-right: -170px;
      }
   }

   .about_us__title--last {
      margin-top: 101px;
   }

   .about_us__inner-last .about_us__title {
      width: 100%;
   }

   .footer {
      margin-top: 55px;
   }

   .footer__text {
      padding: 25px 20px;
      font-size: 22px;
   }

   .footer__button {
      margin: 0;
   }
   .footer__item {  
      width: 30%;
      padding: 10px 0;
   }
}

@media (max-width:580px) {
   .header__btn {
      max-width: 200px;
  }
  
   .header__btn {
      font-size: 20px;
      padding: 8px;
   }
  

   .popup.active{
      max-width: 345px;
   }
 .intro__title{
   margin: 15px 0;
 }
   .slider__img {
    
      height: 269px;
      
  }


   .attraction__item-btn {
      background: #F27C4F;
   }

   .intro__title {
      font-size: 48px;
      line-height: 55px;
      padding: 0;


      .header__item-span {
         color: #3D3745;
      }
   }
   .intro {
      margin-top: 35px;

      .intro__text {
         font-size: 22px;
         line-height: 25px;
      }

      .intro__img {
         margin-top: 0;
      }

   }

   .attraction__inner-background {
      height: 400px;

      .attraction__img-phone {

         max-width: 115px;
         height: 235px;
         right: -16px;
         bottom: -30px;
      }

      .attraction__title {
         padding: 0 10px;
         font-size: 28px;
         line-height: 55px;
      }



   }

   .attraction__inner {
      background: #5C6BD7;
      padding: 0 10px 40px 10px;

   }

   .attraction__item-text {
      color: #FFFFFF;
      font-size: 22px;
      line-height: 25px;
   }

   .attraction__item-block {
      width: 100%;
      display: flex;
      justify-content: center;

      .attraction__item-btn {
         margin-top: 35px;
      }
   }

   .about_us__inner-last {
      margin-top: 0;

      .about_us__img3 {
         max-width: 345px;
         height: 392px;
      }

      .about_us__img--phone2 {
         right: 34px;
         left: auto;
         max-width: 137px;
         height: 274px;
         top: 191px;
      }
   }

   .about_us__img {
      width: 100%;
      max-width: 242px;
      height: 305px;
      object-fit: cover;
   }

   .about_us__row {
      .about_us__img--row {
         margin-right: -100px;
      }
   }

   .about_us__img--phone {
      width: 100%;
      max-width: 145px;
      margin-left: 30px;
      height: 274px;
      object-fit: cover;
      margin-bottom: 51px;
   }
   .footer__item {
        width: 50%;
   }
}

@media (max-width:480px) {
.header__btn {  
   font-size: 12px;
   padding: 5px;
   border-radius: 5px;
}
   .intro__title {
      font-size: 38px;
   }
   .popup.active {
      max-width: 285px;
      padding: 30px;
  }
  .close-popup {
   top: 10px;
   right: 10px;
  }
  .benefits__item-grid {
   display: flex;
   flex-direction: column;
width: 100%;
}
}
@media (max-width:380px) {  
  .slider__img {
   height: 139px;
}
.benefits__title{
   font-size: 30px;
}
.footer__inner {
      flex-direction: column;
      .footer__item {
        width: 100%;
        justify-content: center;
        align-items: center;
      }
   }
}