@import "reset.scss";
@import "var.scss";

@font-face {
   font-family: 'GTWalsheimPro-Medium';
   src: url(../fonts/GTWalsheimPro-Medium.ttf);
}

@font-face {
   font-family: 'GTWalsheimPro-Regular';
   src: url(../fonts/GTWalsheimPro-Regular.ttf);
}


main{
   
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}
.burger-btn {
   display: none;
}
.burger__inner{
   display: none;
}
.header__btn {
   @extend %button;
   max-width: 400px;
}
.header__item-logo{
   width: 100%;
   max-width: 20%;
}
.header__item-nav{
   width: 100%;
   max-width: 40%;
}

.header {
   width: 100%;
   max-width: 1366px;
   margin: 0 auto;
   padding: 0 10px;
   position: sticky;
   left: 0;
   top: 0;
   z-index: 8;
   background: #161512 linear-gradient(to bottom, hsl(37deg, 12%, 16%), hsl(37deg, 10%, 8%) 116px) no-repeat;;

   &__inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
     
      align-items: center;
   }
   &__item{
      display: flex;
     width: 100%;
      width: 100%;   
      justify-content: center;
      align-items: center;
     
   }
   .header__item-btn{
      justify-content: flex-end;
   }
   .header__item-logo{
      display: flex;
      justify-content: flex-start;
   }
}

.header__ul{
   width: 100%;
    display: flex;
   justify-content: space-between;
   align-items: center;
   

}
.header__list {
   font-size: 22px;
   color: #FFF;
   padding: 0 20px;
   text-align: center;
  

}
.header__list:hover{
   background-color: #fff;
   background-image: linear-gradient(90deg, #FFF, #3F046F);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   transition-duration: 1s;
}


.logo {
  margin:  10px 0;
   width: 100%;
}
.logo__link{
   width: 100px;
}
.logo__span{
   
   font-size: 40px;
   top: 42px;
    left: 88px;
   position: absolute;
   background-color: #fff;
   background-image: linear-gradient(90deg, #FFF, #3F046F);
}




.intro__inner {
   display: flex;
   justify-content: space-between;
}

.intro__row {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
}

.intro__item{
padding: 0 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.intro__item-text{
width: 40%;
}
.intro__item-slider{
width: 60%;
position: relative;
}



.intro__title {
   font-size: 78px;
   line-height: 90px;
   text-align: center;
   text-transform: uppercase;
   padding: 10px;
   color: #ffffff;
   margin: 50px 0;
 
  
   transition: all 2s ease 0s;
}

.intro__text {
   max-width: 459px;
   width: 100%;
   padding: 20px 0;
   font-size: 32px;
   line-height: 37px;
   color: #3D3745;
   border-bottom: 2px solid #fff;
}

.intro__hr {
   border: 2px solid #EBEAEC;
   border-radius: 13px;
}


.swiper {
   width: 100%;
  display: flex;
 }
 .swiper-pagination{
   position: relative;
  margin: 40px 0 20px 0;
  z-index: 1;
  
 
 }
 .swiper-pagination-bullet{
  
   width: 20px;
   height: 20px;
   margin: 0 10px;
  
   background-color: #fff;
   background-image: linear-gradient(90deg, #FFF, #3F046F);
 }
 
 .slider__img{
   width: 100%;
   max-width: 856px;
   height: 400px;
   object-fit: cover;
  object-position: center top;
  border: 3px solid  #3F046F;
  border-radius: 20px;
 }
.benefits {
   width: 100%;
   margin-top: 100px;
}
.benefits__title{
   text-align: center;
   margin: 50px 0;
   font-size: 70px;
}

.benefits__inner {
   display: flex;
   justify-content: space-between;
}
.benefits__item {
   width:45%;
   display: flex;
   align-items: center;
}
.benefits__img {
   width: 100%;
   max-width: 760px;
   object-fit: cover;
}
.benefits__item-grid {
   display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 30px;
grid-row-gap: 30px;
}

.benefits__item-title {   
   width: 100%;
   text-align: center;
   margin-bottom: 30px;
}

.benefits__item-block1 {
   grid-area: 1 / 1 / 2 / 2;
   
   
}
.benefits__item-block{
   width: 100%;
   height: 100%;
   justify-content: space-between;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   border: 2px solid  #FFF;
   border-image: -webkit-gradient(to right top, from(#FFF), to(#3F046F));
   border-image: linear-gradient(90deg, #FFF, #3F046F);
   border-image-slice: 1;
   padding: 20px;
}

.benefits__item-block2 {
   grid-area: 1 / 2 / 2 / 3;
}
.benefits__item-block3 {
   grid-area: 2 / 1 / 3 / 2;
}
.benefits__item-block4 {
   grid-area: 2 / 2 / 3 / 3;
}
.attraction {
   margin: 200px auto 129px auto;
   width: 100%;
}
.attraction__inner-background {
   display: flex;
   justify-content: center;
   position: relative;
   width: 100%;
   height: 768px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url("../img/attraction__background.png");

   .attraction__img-phone {
      position: absolute;
      width: 100%;
      object-fit: contain;
      max-width: 227px;
      height: 457px;
      right: 31px;
      bottom: -50px;
   }

   .attraction__title {
      margin-top: 30px;
      font-size: 56px;
      line-height: 110px;
   }
}

.attraction__inner {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-end;
}


.attraction__item-text {
   font-size: 40px;
   line-height: 46px;
   max-width: 882px;
   width: 100%;
   color: #3D3745;
   margin-top: 50px;
}

.attraction__item {
   padding: 0 10px;

}

.attraction__item-btn {
   @extend %button;
   margin-top: 10px;
}


.about_us {
   margin-top: 129px;
   width: 100%;
}

.about_us__inner {
   position: relative;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.about_us__img1 {
   width: 100%;
   max-width: 557px;
   height: 649px;
   object-fit: cover;
}

.about_us__img--phone {
   margin-top: -194px;
   margin-left: 110px;
   width: 100%;
   max-width: 200px;
   object-fit: contain;
   border-radius: 20px !important;
}

.about_us__title {
   font-size: 54px;
   line-height: 62px;
   margin-top: 70px;
   margin-bottom: 40px;

   text-transform: uppercase;

   color: #3D3745;
}

.about_us__text {
   font-size: 32px;
   line-height: 37px;
   max-width: 719px;
   color: #3D3745;
}

.about_us__img {
   padding: 10px;
}






.about_us__row {
   display: flex;
   justify-content: center;

   .about_us__img--row {
      z-index: -1;
      margin-top: -78px;
      width: 100%;
      max-width: 739px;

      object-fit: cover;
   }
}

.about_us__inner-last {
   margin-top: 120px;
   align-items: flex-start;

   .about_us__item-last {
      position: relative;
   }

   .about_us__img3 {
      max-width: 615px;
      height: 698px;
      width: 100%;
      object-fit: cover;
   }

   .about_us__img--phone2 {
      max-width: 219px;
      height: 439px;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 291px;
      left: -30px;
      padding: 0;
   }

   .about_us__title {
      width: 326px;
   }

   .about_us__text {
      width: 527px;
   }
}

.footer {
   margin: 0 auto;
   width: 100%;
   max-width: 1376px;
   margin-top: 120px;
   background: #161512 linear-gradient(to bottom, hsl(37deg, 12%, 16%), hsl(37deg, 10%, 8%) 116px) no-repeat;;
   text-align: center;
   border-radius: 25px ;
   padding: 0 10px;
}
.footer__text {
   font-size: 32px;
   line-height: 37px;
   text-transform: uppercase;
   color: #FBFBFB;
   padding: 73px 196px 0 196px;
}
.footer__button {
   margin: 78px 0 58px 0;
   @extend %button;
}
.footer__inner {
   width: 100%;
   padding: 43px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
}   
   .footer__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 100%;
      padding: 20px 0;
     
   }
      .privacy__policy {
         font-size: 14px;
         line-height: 16px;
         text-align: center;
         text-transform: uppercase;
         color: #3D3745;
      }
      .copyright {
         line-height: 16px;
         text-transform: uppercase;
         color: #3D3745;
         margin: 0
      }

@import "media.scss";
